In [60]:
import numpy as np
from scipy import stats 
from scipy.stats import ttest_ind
from scipy.stats import t
from statsmodels.stats.power import ttest_power

In [61]:
data=pd.read_csv("titan.csv")

In [62]:
## EDA

data.describe().T

## Mean of Old Scheme-68.03, New Scheme-72.03

,count,mean,std,min,25%,50%,75%,max
SALESPERSON,30.0,15.500000,8.803408,1.0,8.25,15.5,22.75,30.0
Old Scheme (in thousands),30.0,68.033333,20.455980,28.0,54.00,67.0,81.50,110.0
New Scheme (in thousands),30.0,72.033333,24.062395,32.0,55.00,74.0,85.75,122.0

In [63]:
old=np.array([57,103,59,75,84,73,35,110,44,82,67,64,78,53,41,39,80,87,73,65,28,62,49,84,63,77,67,101,91,50])
new=np.array([62,122,54,82,84,86,32,104,38,107,84,85,99,39,34,58,73,53,66,78,41,71,38,95,81,58,75,94,100,68])

In [64]:
#Point1. Find Mean
data['Old Scheme (in thousands)'].mean()

68.03333333333333

In [65]:
#Point1. Fine Mean
data['New Scheme (in thousands)'].mean()

72.03333333333333

In [66]:
old_scheme = data['Old Scheme (in thousands)']
new_scheme = data['New Scheme (in thousands)']

In [67]:
#Point2. Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs?

t_statistic,p_value=stats.ttest_rel(old_scheme,new_scheme)
print(t_statistic,p_value)

-1.5559143823544377 0.13057553961337662

In [73]:
#Point3. What conclusion does the test (p-value) lead to?

print("As we can see the P value of is more than 0.05, hence we can say that there is no significant change in output")

As we can see the P value of is more than 0.05, hence we can say that there is no significant change in output

In [68]:
# Point 4.a
print("\nProb of Type I Error=",0.05)

Prob of Type I Error= 0.05

In [69]:
#Point 4.b
t_statistic,p_value=stats.ttest_rel(old_scheme,new_scheme)

In [70]:
# Point 4.c
Zstats = (5)/np.std(new_scheme)
ttest_power(Zstats,nobs=len(np.array(old_scheme))-1,alpha=0.05,alternative='larger')

0.29660245254588957