In [1]:
## Import pandas & read data set

import pandas as pd
Dev = pd.read_csv("Laliga.csv")

In [2]:
## Replace '-' with '0'
Dev=Dev.replace("-","0")

In [3]:
Dev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 20 columns):
Pos              61 non-null int64
Team             61 non-null object
Seasons          61 non-null int64
Points           61 non-null object
GamesPlayed      61 non-null object
GamesWon         61 non-null object
GamesDrawn       61 non-null object
GamesLost        61 non-null object
GoalsFor         61 non-null object
GoalsAgainst     61 non-null object
Champion         61 non-null object
Runner-up        61 non-null object
Third            61 non-null object
Fourth           61 non-null object
Fifth            61 non-null object
Sixth            61 non-null object
T                61 non-null object
Debut            61 non-null object
Since/LastApp    61 non-null object
BestPosition     61 non-null int64
dtypes: int64(3), object(17)
memory usage: 9.6+ KB

In [4]:
Dev["Points"] = Dev["Points"].astype(int)

In [5]:
Dev.columns

Index(['Pos', 'Team', 'Seasons', 'Points', 'GamesPlayed', 'GamesWon',
       'GamesDrawn', 'GamesLost', 'GoalsFor', 'GoalsAgainst', 'Champion',
       'Runner-up', 'Third', 'Fourth', 'Fifth', 'Sixth', 'T', 'Debut',
       'Since/LastApp', 'BestPosition'],
      dtype='object')

In [6]:
cols=['GamesPlayed', 'GamesWon', 'GamesDrawn', 'GamesLost', 'GoalsFor', 'GoalsAgainst', 'Champion', 'Runner-up', 'Third', 'Fourth', 'Fifth', 'Sixth', 'T']

In [7]:
for a in cols:
    Dev[a]=Dev[a].astype(int)

In [8]:
Dev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 20 columns):
Pos              61 non-null int64
Team             61 non-null object
Seasons          61 non-null int64
Points           61 non-null int32
GamesPlayed      61 non-null int32
GamesWon         61 non-null int32
GamesDrawn       61 non-null int32
GamesLost        61 non-null int32
GoalsFor         61 non-null int32
GoalsAgainst     61 non-null int32
Champion         61 non-null int32
Runner-up        61 non-null int32
Third            61 non-null int32
Fourth           61 non-null int32
Fifth            61 non-null int32
Sixth            61 non-null int32
T                61 non-null int32
Debut            61 non-null object
Since/LastApp    61 non-null object
BestPosition     61 non-null int64
dtypes: int32(14), int64(3), object(3)
memory usage: 6.3+ KB

In [9]:
Dev.Debut

0        1929
1        1929
2        1929
3     1931-32
4        1929
5     1934-35
6        1929
7        1929
8     1939-40
9     1932-33
10    1941-42
11    1939-40
12    1948-49
13       1929
14    1944-45
15    1935-36
16    1949-50
17    1933-34
18    1960-61
19    1951-52
20    1998-99
21    1941-42
22    1977-78
23    1959-60
24    2004-05
25    1935-36
26    1961-62
27    1940-41
28    1930-31
29    1963-64
       ...
31    1943-44
32    1977-78
33    1987-88
34    1941-42
35    1991-92
36    2007-08
37    1962-63
38    1994-95
39    1978-79
40    1971-72
41    1963-64
42    1999-00
43    2014-15
44       1929
45    1990-91
46    1947-48
47    1996-97
48    1995-96
49    1945-46
50    1953-54
51       1929
52    1979-80
53       1929
54    1950-51
55    2016-17
56    2009-10
57    1956-57
58    1951-52
59    1955-56
60    2017-18
Name: Debut, Length: 61, dtype: object

In [10]:
Abs = "1979-80"

In [11]:
Abs.split('-')[0]

'1979'

In [12]:
Rbs="1929"

In [13]:
Rbs.split('-')[0]

'1929'

In [14]:
Dev["Debut"]=Dev["Debut"].apply(lambda x:int(x.split('-')[0]))

In [15]:
Dev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 20 columns):
Pos              61 non-null int64
Team             61 non-null object
Seasons          61 non-null int64
Points           61 non-null int32
GamesPlayed      61 non-null int32
GamesWon         61 non-null int32
GamesDrawn       61 non-null int32
GamesLost        61 non-null int32
GoalsFor         61 non-null int32
GoalsAgainst     61 non-null int32
Champion         61 non-null int32
Runner-up        61 non-null int32
Third            61 non-null int32
Fourth           61 non-null int32
Fifth            61 non-null int32
Sixth            61 non-null int32
T                61 non-null int32
Debut            61 non-null int64
Since/LastApp    61 non-null object
BestPosition     61 non-null int64
dtypes: int32(14), int64(4), object(2)
memory usage: 6.3+ KB

In [16]:
Dev["Since/LastApp"]=Dev["Since/LastApp"].apply(lambda x:int(x.split('-')[0]))

In [17]:
Dev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 20 columns):
Pos              61 non-null int64
Team             61 non-null object
Seasons          61 non-null int64
Points           61 non-null int32
GamesPlayed      61 non-null int32
GamesWon         61 non-null int32
GamesDrawn       61 non-null int32
GamesLost        61 non-null int32
GoalsFor         61 non-null int32
GoalsAgainst     61 non-null int32
Champion         61 non-null int32
Runner-up        61 non-null int32
Third            61 non-null int32
Fourth           61 non-null int32
Fifth            61 non-null int32
Sixth            61 non-null int32
T                61 non-null int32
Debut            61 non-null int64
Since/LastApp    61 non-null int64
BestPosition     61 non-null int64
dtypes: int32(14), int64(5), object(1)
memory usage: 6.3+ KB

In [18]:
## Print all the teams which have started playing between 1930-1980.

Dev.loc[(Dev["Debut"]>=1930)&(Dev["Debut"]<=1980)]

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931,1987,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934,2001,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939,2012,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932,2015,1
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941,2014,1
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939,2012,4
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948,2013,4
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944,2015,2
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935,2016,4
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949,2008,4
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933,2000,3
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960,2012,3
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951,2015,2
21,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941,2016,6
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977,2015,8
23,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959,2014,5
25,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935,2010,5
26,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961,2009,5
27,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940,2007,11
28,29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1,1930,2016,6
29,30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1,1963,2015,6
30,31,Salamanca,12,375,423,123,102,198,422,581,0,0,0,0,0,0,0,1974,1998,7
31,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943,1987,4
32,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977,2005,12
34,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941,1990,4
37,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962,2014,5
39,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978,2008,8
40,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971,1979,12
41,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963,1969,7
46,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947,2006,7
49,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945,1950,10
50,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953,1957,14
52,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979,1980,10
54,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950,1993,16
57,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956,1956,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951,1951,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955,1955,15

In [19]:
## Print the list of teams which came Top 5 in terms of points
Dev.sort_values("Points",ascending=False)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931,1987,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934,2001,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,16,1929,1994,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939,2012,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932,2015,1
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941,2014,1
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,0,0,0,2,4,5,11,1939,2012,4
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,0,0,0,1,1,1,3,1948,2013,4
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,0,1,1,2,0,1,5,1929,2011,2
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,0,1,1,2,2,1,7,1944,2015,2
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,0,0,0,2,2,2,6,1935,2016,4
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,0,0,0,1,0,1,2,1949,2008,4
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,0,0,3,2,2,4,11,1933,2000,3
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,0,0,2,0,2,1,5,1960,2012,3
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,0,1,1,1,1,1,5,1951,2015,2
20,21,Villarreal,17,970,646,266,172,208,892,789,0,1,1,2,3,2,9,1998,2013,2
21,22,Granada,23,667,742,218,175,349,819,1157,0,0,0,0,0,2,2,1941,2016,6
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,0,0,0,0,0,0,0,1977,2015,8
23,24,Elche,21,606,678,203,180,295,750,1022,0,0,0,0,1,1,2,1959,2014,5
24,25,Getafe,12,553,456,147,112,197,520,633,0,0,0,0,0,1,1,2004,2015,6
25,26,Hercules,20,538,628,184,149,295,716,1050,0,0,0,0,1,4,5,1935,2010,5
26,27,Tenerife,13,510,494,155,128,211,619,744,0,0,0,0,2,0,2,1961,2009,5
27,28,Murcia,18,445,586,145,143,298,607,992,0,0,0,0,0,0,0,1940,2007,11
28,29,Alaves,12,421,380,125,81,174,458,623,0,0,0,0,0,1,1,1930,2016,6
29,30,Levante,11,416,402,113,95,194,430,632,0,0,0,0,0,1,1,1963,2015,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,0,0,0,1,1,0,2,1943,1987,4
32,33,Cadiz,12,343,448,104,127,217,393,662,0,0,0,0,0,0,0,1977,2005,12
33,34,Logrones,9,293,346,96,92,158,291,489,0,0,0,0,0,0,0,1987,1996,7
34,35,Castellon,11,285,334,103,79,152,419,588,0,0,0,1,2,0,3,1941,1990,4
35,36,Albacete,7,277,270,76,76,118,320,410,0,0,0,0,0,0,0,1991,2004,7
36,37,Almeria,6,242,228,62,56,110,244,366,0,0,0,0,0,0,0,2007,2014,8
37,38,Cordoba,9,230,282,82,63,137,285,430,0,0,0,0,1,0,1,1962,2014,5
38,39,Compostela,4,190,160,52,45,63,199,241,0,0,0,0,0,0,0,1994,1997,10
39,40,Recreativo,5,188,186,50,46,90,202,296,0,0,0,0,0,0,0,1978,2008,8
40,41,Burgos CF,6,168,204,59,50,95,216,310,0,0,0,0,0,0,0,1971,1979,12
41,42,Pontevedra,6,150,180,53,44,83,165,221,0,0,0,0,0,0,0,1963,1969,7
42,43,Numancia,4,148,152,37,37,78,155,253,0,0,0,0,0,0,0,1999,2008,17
43,44,Eibar,3,132,114,35,27,52,139,167,0,0,0,0,0,0,0,2014,2014,10
44,45,Arenas,7,107,130,43,21,66,227,308,0,0,1,0,3,0,4,1929,1934,3
45,46,Real Burgos,3,96,114,26,44,44,101,139,0,0,0,0,0,0,0,1990,1992,9
46,47,Gimnastic,4,91,116,34,16,66,181,295,0,0,0,0,0,0,0,1947,2006,7
47,48,Extremadura,2,83,80,20,23,37,62,117,0,0,0,0,0,0,0,1996,1998,17
48,49,Merida,2,81,80,19,24,37,70,115,0,0,0,0,0,0,0,1995,1997,19
49,50,Alcoyano,4,76,108,30,16,62,145,252,0,0,0,0,0,0,0,1945,1950,10
50,51,Jaen,3,71,90,29,13,48,121,183,0,0,0,0,0,0,0,1953,1957,14
51,52,Real Union,4,56,72,21,14,37,153,184,0,0,0,0,0,1,1,1929,1931,6
52,53,AD Almeria,2,52,68,17,18,33,71,116,0,0,0,0,0,0,0,1979,1980,10
53,54,Europa,3,42,54,18,6,30,97,131,0,0,0,0,0,0,0,1929,1930,8
54,55,Lleida,2,40,68,13,14,41,70,182,0,0,0,0,0,0,0,1950,1993,16
55,56,Leganes,1,35,38,8,11,19,36,55,0,0,0,0,0,0,0,2016,2016,17
56,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,0,2009,2009,20
57,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956,1956,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951,1951,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955,1955,15
60,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2017,2017,9

In [20]:
Dev1=Dev.sort_values("Points",ascending=False)

In [21]:
Dev1.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931,1987,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

In [22]:
## Write a function with name Goal_diff_count which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference.

Dev["Goal_diff_count"] = Dev["GoalsFor"]-Dev["GoalsAgainst"]

In [23]:
Dev

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Goal_diff_count
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,23,8,8,3,4,79,1929,1929,1,2807
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,25,12,12,4,6,83,1929,1929,1,2786
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,8,16,9,7,6,56,1929,2002,1,1225
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,6,10,11,10,7,50,1931,1987,1,929
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,7,10,5,8,10,49,1929,1929,1,931
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,4,4,5,12,6,32,1934,2001,1,307
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,0,4,5,2,5,16,1929,1994,3,-280
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,3,2,5,4,3,19,1929,2010,1,-2
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,1,4,5,4,4,18,1939,2012,2,-164
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,0,2,3,4,4,14,1932,2015,1,-333
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,5,4,1,0,1,12,1941,2014,1,-136
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,0,0,2,4,5,11,1939,2012,4,-346
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,0,0,1,1,1,3,1948,2013,4,-413
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,1,1,2,0,1,5,1929,2011,2,-525
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,1,1,2,2,1,7,1944,2015,2,-399
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,0,0,2,2,2,6,1935,2016,4,-334
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,0,0,1,0,1,2,1949,2008,4,-342
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,0,3,2,2,4,11,1933,2000,3,-309
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,0,2,0,2,1,5,1960,2012,3,-189
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,1,1,5,1951,2015,2,-399
20,21,Villarreal,17,970,646,266,172,208,892,789,...,1,1,2,3,2,9,1998,2013,2,103
21,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,0,0,2,2,1941,2016,6,-338
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,0,0,1977,2015,8,-328
23,24,Elche,21,606,678,203,180,295,750,1022,...,0,0,0,1,1,2,1959,2014,5,-272
24,25,Getafe,12,553,456,147,112,197,520,633,...,0,0,0,0,1,1,2004,2015,6,-113
25,26,Hercules,20,538,628,184,149,295,716,1050,...,0,0,0,1,4,5,1935,2010,5,-334
26,27,Tenerife,13,510,494,155,128,211,619,744,...,0,0,0,2,0,2,1961,2009,5,-125
27,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,0,0,1940,2007,11,-385
28,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,0,0,1,1,1930,2016,6,-165
29,30,Levante,11,416,402,113,95,194,430,632,...,0,0,0,0,1,1,1963,2015,6,-202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,...,0,0,1,1,0,2,1943,1987,4,-228
32,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,0,0,1977,2005,12,-269
33,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,0,0,0,0,1987,1996,7,-198
34,35,Castellon,11,285,334,103,79,152,419,588,...,0,0,1,2,0,3,1941,1990,4,-169
35,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,0,0,0,0,1991,2004,7,-90
36,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,0,0,0,0,2007,2014,8,-122
37,38,Cordoba,9,230,282,82,63,137,285,430,...,0,0,0,1,0,1,1962,2014,5,-145
38,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,0,0,0,0,1994,1997,10,-42
39,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,0,0,1978,2008,8,-94
40,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,0,0,1971,1979,12,-94
41,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,0,0,1963,1969,7,-56
42,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,0,0,0,0,1999,2008,17,-98
43,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,0,0,0,0,2014,2014,10,-28
44,45,Arenas,7,107,130,43,21,66,227,308,...,0,1,0,3,0,4,1929,1934,3,-81
45,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,0,0,0,0,1990,1992,9,-38
46,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,0,0,1947,2006,7,-114
47,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,0,0,0,0,1996,1998,17,-55
48,49,Merida,2,81,80,19,24,37,70,115,...,0,0,0,0,0,0,1995,1997,19,-45
49,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,0,0,1945,1950,10,-107
50,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,0,0,1953,1957,14,-62
51,52,Real Union,4,56,72,21,14,37,153,184,...,0,0,0,0,1,1,1929,1931,6,-31
52,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,0,0,1979,1980,10,-45
53,54,Europa,3,42,54,18,6,30,97,131,...,0,0,0,0,0,0,1929,1930,8,-34
54,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,0,0,1950,1993,16,-112
55,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,0,0,0,0,2016,2016,17,-19
56,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,0,0,2009,2009,20,-28
57,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,0,1956,1956,16,-20
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,0,1951,1951,16,-34
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,0,1955,1955,15,-31
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2017,2017,9,0

In [24]:
Dev["Goal_diff_count"].max()

2807

In [25]:
Dev["Goal_diff_count"].min()

-525

In [26]:
## Create a new column with name Winning Percent and append it to the data set

Dev["Winning_Percent"] = (Dev["GamesWon"]/Dev["GamesPlayed"])*100

In [27]:
Dev

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Goal_diff_count,Winning_Percent
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,8,3,4,79,1929,1929,1,2807,59.630702
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,12,4,6,83,1929,1929,1,2786,57.241130
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,16,9,7,6,56,1929,2002,1,1225,47.475134
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,11,10,7,50,1931,1987,1,929,44.557057
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,10,5,8,10,49,1929,1929,1,931,43.772629
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,4,5,12,6,32,1934,2001,1,307,41.112957
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,4,5,2,5,16,1929,1994,3,-280,36.100533
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,2,5,4,3,19,1929,2010,1,-2,37.532580
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,4,5,4,4,18,1939,2012,2,-164,35.146022
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,2,3,4,4,14,1932,2015,1,-333,35.069444
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,4,1,0,1,12,1941,2014,1,-136,36.797386
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,0,2,4,5,11,1939,2012,4,-346,34.511190
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,0,1,1,1,3,1948,2013,4,-413,31.582538
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,1,2,0,1,5,1929,2011,2,-525,31.722689
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,1,2,2,1,7,1944,2015,2,-399,32.304527
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,0,2,2,2,6,1935,2016,4,-334,32.321700
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,0,1,0,1,2,1949,2008,4,-342,31.075697
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,3,2,2,4,11,1933,2000,3,-309,34.228188
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,2,0,2,1,5,1960,2012,3,-189,33.704453
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,1,5,1951,2015,2,-399,33.485401
20,21,Villarreal,17,970,646,266,172,208,892,789,...,1,2,3,2,9,1998,2013,2,103,41.176471
21,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,0,2,2,1941,2016,6,-338,29.380054
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,0,1977,2015,8,-328,28.987730
23,24,Elche,21,606,678,203,180,295,750,1022,...,0,0,1,1,2,1959,2014,5,-272,29.941003
24,25,Getafe,12,553,456,147,112,197,520,633,...,0,0,0,1,1,2004,2015,6,-113,32.236842
25,26,Hercules,20,538,628,184,149,295,716,1050,...,0,0,1,4,5,1935,2010,5,-334,29.299363
26,27,Tenerife,13,510,494,155,128,211,619,744,...,0,0,2,0,2,1961,2009,5,-125,31.376518
27,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,0,1940,2007,11,-385,24.744027
28,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,0,1,1,1930,2016,6,-165,32.894737
29,30,Levante,11,416,402,113,95,194,430,632,...,0,0,0,1,1,1963,2015,6,-202,28.109453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,...,0,1,1,0,2,1943,1987,4,-228,30.281690
32,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,0,1977,2005,12,-269,23.214286
33,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,0,0,0,1987,1996,7,-198,27.745665
34,35,Castellon,11,285,334,103,79,152,419,588,...,0,1,2,0,3,1941,1990,4,-169,30.838323
35,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,0,0,0,1991,2004,7,-90,28.148148
36,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,0,0,0,2007,2014,8,-122,27.192982
37,38,Cordoba,9,230,282,82,63,137,285,430,...,0,0,1,0,1,1962,2014,5,-145,29.078014
38,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,0,0,0,1994,1997,10,-42,32.500000
39,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,0,1978,2008,8,-94,26.881720
40,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,0,1971,1979,12,-94,28.921569
41,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,0,1963,1969,7,-56,29.444444
42,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,0,0,0,1999,2008,17,-98,24.342105
43,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,0,0,0,2014,2014,10,-28,30.701754
44,45,Arenas,7,107,130,43,21,66,227,308,...,1,0,3,0,4,1929,1934,3,-81,33.076923
45,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,0,0,0,1990,1992,9,-38,22.807018
46,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,0,1947,2006,7,-114,29.310345
47,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,0,0,0,1996,1998,17,-55,25.000000
48,49,Merida,2,81,80,19,24,37,70,115,...,0,0,0,0,0,1995,1997,19,-45,23.750000
49,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,0,1945,1950,10,-107,27.777778
50,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,0,1953,1957,14,-62,32.222222
51,52,Real Union,4,56,72,21,14,37,153,184,...,0,0,0,1,1,1929,1931,6,-31,29.166667
52,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,0,1979,1980,10,-45,25.000000
53,54,Europa,3,42,54,18,6,30,97,131,...,0,0,0,0,0,1929,1930,8,-34,33.333333
54,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,0,1950,1993,16,-112,19.117647
55,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,0,0,0,2016,2016,17,-19,21.052632
56,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,0,2009,2009,20,-28,21.052632
57,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,1956,1956,16,-20,23.333333
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,1951,1951,16,-34,23.333333
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,1955,1955,15,-31,16.666667
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,0,2017,2017,9,0,NaN

In [51]:
Dev["Winning_Percent"]

0     59.630702
1     57.241130
2     47.475134
3     44.557057
4     43.772629
5     41.112957
6     36.100533
7     37.532580
8     35.146022
9     35.069444
10    36.797386
11    34.511190
12    31.582538
13    31.722689
14    32.304527
15    32.321700
16    31.075697
17    34.228188
18    33.704453
19    33.485401
20    41.176471
21    29.380054
22    28.987730
23    29.941003
24    32.236842
25    29.299363
26    31.376518
27    24.744027
28    32.894737
29    28.109453
        ...
31    30.281690
32    23.214286
33    27.745665
34    30.838323
35    28.148148
36    27.192982
37    29.078014
38    32.500000
39    26.881720
40    28.921569
41    29.444444
42    24.342105
43    30.701754
44    33.076923
45    22.807018
46    29.310345
47    25.000000
48    23.750000
49    27.777778
50    32.222222
51    29.166667
52    25.000000
53    33.333333
54    19.117647
55    21.052632
56    21.052632
57    23.333333
58    23.333333
59    16.666667
60    16.666667
Name: Winning_Percent, Length: 61, dtype: float64

In [52]:
Dev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 22 columns):
Pos                61 non-null int64
Team               61 non-null object
Seasons            61 non-null int64
Points             61 non-null int32
GamesPlayed        61 non-null int32
GamesWon           61 non-null int32
GamesDrawn         61 non-null int32
GamesLost          61 non-null int32
GoalsFor           61 non-null int32
GoalsAgainst       61 non-null int32
Champion           61 non-null int32
Runner-up          61 non-null int32
Third              61 non-null int32
Fourth             61 non-null int32
Fifth              61 non-null int32
Sixth              61 non-null int32
T                  61 non-null int32
Debut              61 non-null int64
Since/LastApp      61 non-null int64
BestPosition       61 non-null int64
Goal_diff_count    61 non-null int32
Winning_Percent    61 non-null float64
dtypes: float64(1), int32(15), int64(5), object(1)
memory usage: 7.0+ KB

In [53]:
# Add column with Name Winning_Percent

Dev['Winning_Percent'] = Dev['Winning_Percent']

In [54]:
Dev

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Goal_diff_count,Winning_Percent
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,8,3,4,79,1929,1929,1,2807,59.630702
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,12,4,6,83,1929,1929,1,2786,57.241130
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,16,9,7,6,56,1929,2002,1,1225,47.475134
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,11,10,7,50,1931,1987,1,929,44.557057
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,10,5,8,10,49,1929,1929,1,931,43.772629
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,4,5,12,6,32,1934,2001,1,307,41.112957
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,4,5,2,5,16,1929,1994,3,-280,36.100533
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,2,5,4,3,19,1929,2010,1,-2,37.532580
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,4,5,4,4,18,1939,2012,2,-164,35.146022
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,2,3,4,4,14,1932,2015,1,-333,35.069444
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,4,1,0,1,12,1941,2014,1,-136,36.797386
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,0,2,4,5,11,1939,2012,4,-346,34.511190
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,0,1,1,1,3,1948,2013,4,-413,31.582538
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,1,2,0,1,5,1929,2011,2,-525,31.722689
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,1,2,2,1,7,1944,2015,2,-399,32.304527
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,0,2,2,2,6,1935,2016,4,-334,32.321700
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,0,1,0,1,2,1949,2008,4,-342,31.075697
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,3,2,2,4,11,1933,2000,3,-309,34.228188
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,2,0,2,1,5,1960,2012,3,-189,33.704453
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,1,5,1951,2015,2,-399,33.485401
20,21,Villarreal,17,970,646,266,172,208,892,789,...,1,2,3,2,9,1998,2013,2,103,41.176471
21,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,0,2,2,1941,2016,6,-338,29.380054
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,0,1977,2015,8,-328,28.987730
23,24,Elche,21,606,678,203,180,295,750,1022,...,0,0,1,1,2,1959,2014,5,-272,29.941003
24,25,Getafe,12,553,456,147,112,197,520,633,...,0,0,0,1,1,2004,2015,6,-113,32.236842
25,26,Hercules,20,538,628,184,149,295,716,1050,...,0,0,1,4,5,1935,2010,5,-334,29.299363
26,27,Tenerife,13,510,494,155,128,211,619,744,...,0,0,2,0,2,1961,2009,5,-125,31.376518
27,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,0,1940,2007,11,-385,24.744027
28,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,0,1,1,1930,2016,6,-165,32.894737
29,30,Levante,11,416,402,113,95,194,430,632,...,0,0,0,1,1,1963,2015,6,-202,28.109453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,...,0,1,1,0,2,1943,1987,4,-228,30.281690
32,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,0,1977,2005,12,-269,23.214286
33,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,0,0,0,1987,1996,7,-198,27.745665
34,35,Castellon,11,285,334,103,79,152,419,588,...,0,1,2,0,3,1941,1990,4,-169,30.838323
35,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,0,0,0,1991,2004,7,-90,28.148148
36,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,0,0,0,2007,2014,8,-122,27.192982
37,38,Cordoba,9,230,282,82,63,137,285,430,...,0,0,1,0,1,1962,2014,5,-145,29.078014
38,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,0,0,0,1994,1997,10,-42,32.500000
39,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,0,1978,2008,8,-94,26.881720
40,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,0,1971,1979,12,-94,28.921569
41,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,0,1963,1969,7,-56,29.444444
42,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,0,0,0,1999,2008,17,-98,24.342105
43,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,0,0,0,2014,2014,10,-28,30.701754
44,45,Arenas,7,107,130,43,21,66,227,308,...,1,0,3,0,4,1929,1934,3,-81,33.076923
45,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,0,0,0,1990,1992,9,-38,22.807018
46,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,0,1947,2006,7,-114,29.310345
47,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,0,0,0,1996,1998,17,-55,25.000000
48,49,Merida,2,81,80,19,24,37,70,115,...,0,0,0,0,0,1995,1997,19,-45,23.750000
49,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,0,1945,1950,10,-107,27.777778
50,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,0,1953,1957,14,-62,32.222222
51,52,Real Union,4,56,72,21,14,37,153,184,...,0,0,0,1,1,1929,1931,6,-31,29.166667
52,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,0,1979,1980,10,-45,25.000000
53,54,Europa,3,42,54,18,6,30,97,131,...,0,0,0,0,0,1929,1930,8,-34,33.333333
54,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,0,1950,1993,16,-112,19.117647
55,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,0,0,0,2016,2016,17,-19,21.052632
56,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,0,2009,2009,20,-28,21.052632
57,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,1956,1956,16,-20,23.333333
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,1951,1951,16,-34,23.333333
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,1955,1955,15,-31,16.666667
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,0,2017,2017,9,0,16.666667

In [49]:
##replace NaN

import numpy as np
Dev['Winning_Percent'].replace(np.NaN, inplace=True)

In [50]:
Dev

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Goal_diff_count,Winning_Percent
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,8,3,4,79,1929,1929,1,2807,59.630702
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,12,4,6,83,1929,1929,1,2786,57.241130
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,16,9,7,6,56,1929,2002,1,1225,47.475134
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,11,10,7,50,1931,1987,1,929,44.557057
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,10,5,8,10,49,1929,1929,1,931,43.772629
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,4,5,12,6,32,1934,2001,1,307,41.112957
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,4,5,2,5,16,1929,1994,3,-280,36.100533
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,2,5,4,3,19,1929,2010,1,-2,37.532580
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,4,5,4,4,18,1939,2012,2,-164,35.146022
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,2,3,4,4,14,1932,2015,1,-333,35.069444
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,4,1,0,1,12,1941,2014,1,-136,36.797386
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,0,2,4,5,11,1939,2012,4,-346,34.511190
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,0,1,1,1,3,1948,2013,4,-413,31.582538
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,1,2,0,1,5,1929,2011,2,-525,31.722689
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,1,2,2,1,7,1944,2015,2,-399,32.304527
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,0,2,2,2,6,1935,2016,4,-334,32.321700
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,0,1,0,1,2,1949,2008,4,-342,31.075697
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,3,2,2,4,11,1933,2000,3,-309,34.228188
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,2,0,2,1,5,1960,2012,3,-189,33.704453
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,1,5,1951,2015,2,-399,33.485401
20,21,Villarreal,17,970,646,266,172,208,892,789,...,1,2,3,2,9,1998,2013,2,103,41.176471
21,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,0,2,2,1941,2016,6,-338,29.380054
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,0,1977,2015,8,-328,28.987730
23,24,Elche,21,606,678,203,180,295,750,1022,...,0,0,1,1,2,1959,2014,5,-272,29.941003
24,25,Getafe,12,553,456,147,112,197,520,633,...,0,0,0,1,1,2004,2015,6,-113,32.236842
25,26,Hercules,20,538,628,184,149,295,716,1050,...,0,0,1,4,5,1935,2010,5,-334,29.299363
26,27,Tenerife,13,510,494,155,128,211,619,744,...,0,0,2,0,2,1961,2009,5,-125,31.376518
27,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,0,1940,2007,11,-385,24.744027
28,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,0,1,1,1930,2016,6,-165,32.894737
29,30,Levante,11,416,402,113,95,194,430,632,...,0,0,0,1,1,1963,2015,6,-202,28.109453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,32,Sabadell,14,353,426,129,95,202,492,720,...,0,1,1,0,2,1943,1987,4,-228,30.281690
32,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,0,1977,2005,12,-269,23.214286
33,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,0,0,0,1987,1996,7,-198,27.745665
34,35,Castellon,11,285,334,103,79,152,419,588,...,0,1,2,0,3,1941,1990,4,-169,30.838323
35,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,0,0,0,1991,2004,7,-90,28.148148
36,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,0,0,0,2007,2014,8,-122,27.192982
37,38,Cordoba,9,230,282,82,63,137,285,430,...,0,0,1,0,1,1962,2014,5,-145,29.078014
38,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,0,0,0,1994,1997,10,-42,32.500000
39,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,0,1978,2008,8,-94,26.881720
40,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,0,1971,1979,12,-94,28.921569
41,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,0,1963,1969,7,-56,29.444444
42,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,0,0,0,1999,2008,17,-98,24.342105
43,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,0,0,0,2014,2014,10,-28,30.701754
44,45,Arenas,7,107,130,43,21,66,227,308,...,1,0,3,0,4,1929,1934,3,-81,33.076923
45,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,0,0,0,1990,1992,9,-38,22.807018
46,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,0,1947,2006,7,-114,29.310345
47,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,0,0,0,1996,1998,17,-55,25.000000
48,49,Merida,2,81,80,19,24,37,70,115,...,0,0,0,0,0,1995,1997,19,-45,23.750000
49,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,0,1945,1950,10,-107,27.777778
50,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,0,1953,1957,14,-62,32.222222
51,52,Real Union,4,56,72,21,14,37,153,184,...,0,0,0,1,1,1929,1931,6,-31,29.166667
52,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,0,1979,1980,10,-45,25.000000
53,54,Europa,3,42,54,18,6,30,97,131,...,0,0,0,0,0,1929,1930,8,-34,33.333333
54,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,0,1950,1993,16,-112,19.117647
55,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,0,0,0,2016,2016,17,-19,21.052632
56,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,0,2009,2009,20,-28,21.052632
57,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,1956,1956,16,-20,23.333333
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,1951,1951,16,-34,23.333333
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,1955,1955,15,-31,16.666667
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,0,2017,2017,9,0,16.666667

In [55]:
## Print the top 5 teams which has the highest Winning percentage

Dev.sort_values("Winning_Percent",ascending=False)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Goal_diff_count,Winning_Percent
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,8,3,4,79,1929,1929,1,2807,59.630702
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,12,4,6,83,1929,1929,1,2786,57.241130
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,16,9,7,6,56,1929,2002,1,1225,47.475134
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,11,10,7,50,1931,1987,1,929,44.557057
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,10,5,8,10,49,1929,1929,1,931,43.772629
20,21,Villarreal,17,970,646,266,172,208,892,789,...,1,2,3,2,9,1998,2013,2,103,41.176471
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,4,5,12,6,32,1934,2001,1,307,41.112957
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,2,5,4,3,19,1929,2010,1,-2,37.532580
10,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,4,1,0,1,12,1941,2014,1,-136,36.797386
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,4,5,2,5,16,1929,1994,3,-280,36.100533
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,4,5,4,4,18,1939,2012,2,-164,35.146022
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,2,3,4,4,14,1932,2015,1,-333,35.069444
11,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,0,2,4,5,11,1939,2012,4,-346,34.511190
17,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,3,2,2,4,11,1933,2000,3,-309,34.228188
18,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,2,0,2,1,5,1960,2012,3,-189,33.704453
19,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,1,5,1951,2015,2,-399,33.485401
53,54,Europa,3,42,54,18,6,30,97,131,...,0,0,0,0,0,1929,1930,8,-34,33.333333
44,45,Arenas,7,107,130,43,21,66,227,308,...,1,0,3,0,4,1929,1934,3,-81,33.076923
28,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,0,1,1,1930,2016,6,-165,32.894737
38,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,0,0,0,1994,1997,10,-42,32.500000
15,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,0,2,2,2,6,1935,2016,4,-334,32.321700
14,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,1,2,2,1,7,1944,2015,2,-399,32.304527
24,25,Getafe,12,553,456,147,112,197,520,633,...,0,0,0,1,1,2004,2015,6,-113,32.236842
50,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,0,1953,1957,14,-62,32.222222
13,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,1,2,0,1,5,1929,2011,2,-525,31.722689
12,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,0,1,1,1,3,1948,2013,4,-413,31.582538
26,27,Tenerife,13,510,494,155,128,211,619,744,...,0,0,2,0,2,1961,2009,5,-125,31.376518
16,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,0,1,0,1,2,1949,2008,4,-342,31.075697
34,35,Castellon,11,285,334,103,79,152,419,588,...,0,1,2,0,3,1941,1990,4,-169,30.838323
43,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,0,0,0,2014,2014,10,-28,30.701754
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23,24,Elche,21,606,678,203,180,295,750,1022,...,0,0,1,1,2,1959,2014,5,-272,29.941003
41,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,0,1963,1969,7,-56,29.444444
21,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,0,2,2,1941,2016,6,-338,29.380054
46,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,0,1947,2006,7,-114,29.310345
25,26,Hercules,20,538,628,184,149,295,716,1050,...,0,0,1,4,5,1935,2010,5,-334,29.299363
51,52,Real Union,4,56,72,21,14,37,153,184,...,0,0,0,1,1,1929,1931,6,-31,29.166667
30,31,Salamanca,12,375,423,123,102,198,422,581,...,0,0,0,0,0,1974,1998,7,-159,29.078014
37,38,Cordoba,9,230,282,82,63,137,285,430,...,0,0,1,0,1,1962,2014,5,-145,29.078014
22,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,0,1977,2015,8,-328,28.987730
40,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,0,1971,1979,12,-94,28.921569
35,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,0,0,0,1991,2004,7,-90,28.148148
29,30,Levante,11,416,402,113,95,194,430,632,...,0,0,0,1,1,1963,2015,6,-202,28.109453
49,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,0,1945,1950,10,-107,27.777778
33,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,0,0,0,1987,1996,7,-198,27.745665
36,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,0,0,0,2007,2014,8,-122,27.192982
39,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,0,1978,2008,8,-94,26.881720
52,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,0,1979,1980,10,-45,25.000000
47,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,0,0,0,1996,1998,17,-55,25.000000
27,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,0,1940,2007,11,-385,24.744027
42,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,0,0,0,1999,2008,17,-98,24.342105
48,49,Merida,2,81,80,19,24,37,70,115,...,0,0,0,0,0,1995,1997,19,-45,23.750000
57,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,1956,1956,16,-20,23.333333
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,1951,1951,16,-34,23.333333
32,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,0,1977,2005,12,-269,23.214286
45,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,0,0,0,1990,1992,9,-38,22.807018
55,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,0,0,0,2016,2016,17,-19,21.052632
56,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,0,2009,2009,20,-28,21.052632
54,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,0,1950,1993,16,-112,19.117647
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,1955,1955,15,-31,16.666667
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,0,2017,2017,9,0,16.666667

In [59]:
Dev2=Dev.sort_values("Winning_Percent",ascending=False)

In [60]:
## Print the top 5 teams which has the highest Winning percentage

Dev2.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Goal_diff_count,Winning_Percent
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,8,3,4,79,1929,1929,1,2807,59.630702
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,12,4,6,83,1929,1929,1,2786,57.241130
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,16,9,7,6,56,1929,2002,1,1225,47.475134
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,11,10,7,50,1931,1987,1,929,44.557057
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,10,5,8,10,49,1929,1929,1,931,43.772629

In [67]:
## Group teams based on their Best position and print the sum of their points for all positions 

import pandas as pd
Best=Dev.groupby("BestPosition")

In [68]:
Best.first()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,Goal_diff_count,Winning_Percent
BestPosition,,,,,,,,,,,,,,,,,,,,,
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,23,8,8,3,4,79,1929,1929,2807,59.630702
2,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,1,4,5,4,4,18,1939,2012,-164,35.146022
3,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,0,4,5,2,5,16,1929,1994,-280,36.100533
4,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,0,0,2,4,5,11,1939,2012,-346,34.511190
5,24,Elche,21,606,678,203,180,295,750,1022,...,0,0,0,1,1,2,1959,2014,-272,29.941003
6,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,0,0,2,2,1941,2016,-338,29.380054
7,31,Salamanca,12,375,423,123,102,198,422,581,...,0,0,0,0,0,0,1974,1998,-159,29.078014
8,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,0,0,1977,2015,-328,28.987730
9,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,0,0,0,0,1990,1992,-38,22.807018
10,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,0,0,0,0,1994,1997,-42,32.500000
11,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,0,0,1940,2007,-385,24.744027
12,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,0,0,1977,2005,-269,23.214286
14,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,0,0,1953,1957,-62,32.222222
15,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,0,1955,1955,-31,16.666667
16,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,0,0,1950,1993,-112,19.117647
17,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,0,0,0,0,1999,2008,-98,24.342105
19,49,Merida,2,81,80,19,24,37,70,115,...,0,0,0,0,0,0,1995,1997,-45,23.750000
20,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,0,0,2009,2009,-28,21.052632

In [89]:
Best=Dev.groupby("BestPosition").sum()

In [91]:
Best['Points']

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int32